node_modules

apps/backend-python/.venv/
apps/backend-python/app/__pycache__/
apps/backend-python/app/**/__pycache__/
**/*.pyc

data/*.db
data/*.db-wal
data/*.db-shm

apps/frontend/dist/
apps/frontend/tsconfig.tsbuildinfo

apps/backend-python/build/
apps/backend-python/dist/

dist-exe/
dist-exe.zip
